SECRET_KEY=django
DEBUG=True
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
AWS_S3_ENDPOINT_URL=http://localhost.localstack.cloud:4566/
AWS_DEFAULT_REGION=us-west-1
AWS_STORAGE_BUCKET_NAME=revent-media
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_QUERYSTRING_AUTH=False
