services:
  revent-db:
    container_name: revent-db
    image: postgres:14.1-alpine
    env_file:
      - .env/docker/db.env
    ports:
      - "5432:5432"

  revent-s3:
    container_name: revent-s3
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"

  revent-api:
    build: .
    command: uvicorn config.asgi:application --host 0.0.0.0 --port 8000
    env_file:
      - .env/docker/api.env
    volumes:
      - .:/appqware()|_m|^_--_-------------------------------------------------------------------------
    user: root
    ports:
      - "8000:8000"
    depends_on:
      - revent-db

  revent-app:
    build: ${APP_PATH}
    command: node server.js
    ports:
      - "3000:3000"
    depends_on:
      - revent-api

  revent-nginx:
    build: ./nginx
    env_file:
      - .env/docker/nginx.env
    ports:
      - "80:80"
    depends_on:
      - revent-api
      - revent-app
